<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFyWJ-chFa1f2vE2oIFhU4ii1-7rpZVfc</string>
	<key>GCM_SENDER_ID</key>
	<string>831728985527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vandi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>vandi-88280</string>
	<key>STORAGE_BUCKET</key>
	<string>vandi-88280.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831728985527:ios:312dcef2b8533a6918b432</string>
</dict>
</plist>